parameters:
	ignoreErrors:
		-
			message: "#^Variable static method call on winwin\\\\db\\\\tools\\\\DataDumper\\.$#"
			count: 1
			path: src/DataDumper.php

		-
			message: "#^Variable \\$namespace might not be defined\\.$#"
			count: 1
			path: src/commands/views/ads-model.php

		-
			message: "#^Variable \\$className might not be defined\\.$#"
			count: 1
			path: src/commands/views/ads-model.php

		-
			message: "#^Variable \\$columns might not be defined\\.$#"
			count: 2
			path: src/commands/views/ads-model.php

		-
			message: "#^Variable \\$namespace might not be defined\\.$#"
			count: 1
			path: src/commands/views/annotated-model.php

		-
			message: "#^Variable \\$className might not be defined\\.$#"
			count: 1
			path: src/commands/views/annotated-model.php

		-
			message: "#^Variable \\$columns might not be defined\\.$#"
			count: 2
			path: src/commands/views/annotated-model.php

		-
			message: "#^Variable \\$namespace might not be defined\\.$#"
			count: 1
			path: src/commands/views/jpa-model.php

		-
			message: "#^Variable \\$table might not be defined\\.$#"
			count: 1
			path: src/commands/views/jpa-model.php

		-
			message: "#^Variable \\$className might not be defined\\.$#"
			count: 1
			path: src/commands/views/jpa-model.php

		-
			message: "#^Variable \\$columns might not be defined\\.$#"
			count: 2
			path: src/commands/views/jpa-model.php

		-
			message: "#^Variable \\$namespace might not be defined\\.$#"
			count: 1
			path: src/commands/views/model.php

		-
			message: "#^Variable \\$className might not be defined\\.$#"
			count: 1
			path: src/commands/views/model.php

		-
			message: "#^Variable \\$columns might not be defined\\.$#"
			count: 2
			path: src/commands/views/model.php

		-
			message: "#^Strict comparison using \\=\\=\\= between Doctrine\\\\Common\\\\EventManager and null will always evaluate to false\\.$#"
			count: 1
			path: src/schema/Schema.php

		-
			message: "#^Method winwin\\\\db\\\\tools\\\\schema\\\\SchemaEventSubscriber\\:\\:getCreateTableSQL\\(\\) has parameter \\$columns with no typehint specified\\.$#"
			count: 1
			path: src/schema/SchemaEventSubscriber.php

		-
			message: "#^Method winwin\\\\db\\\\tools\\\\schema\\\\SchemaEventSubscriber\\:\\:getCreateTableSQL\\(\\) has parameter \\$options with no typehint specified\\.$#"
			count: 1
			path: src/schema/SchemaEventSubscriber.php

		-
			message: "#^Method winwin\\\\db\\\\tools\\\\schema\\\\SchemaEventSubscriber\\:\\:getCreateTableSQL\\(\\) has parameter \\$platform with no typehint specified\\.$#"
			count: 1
			path: src/schema/SchemaEventSubscriber.php

		-
			message: "#^Method winwin\\\\db\\\\tools\\\\schema\\\\SchemaEventSubscriber\\:\\:getCreateTableSQL\\(\\) has parameter \\$tableName with no typehint specified\\.$#"
			count: 1
			path: src/schema/SchemaEventSubscriber.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$sql does not exist\\.$#"
			count: 1
			path: src/schema/SchemaEventSubscriber.php

		-
			message: "#^Method winwin\\\\db\\\\tools\\\\schema\\\\SchemaEventSubscriber\\:\\:getIndexDeclarationSQL\\(\\) has parameter \\$name with no typehint specified\\.$#"
			count: 1
			path: src/schema/SchemaEventSubscriber.php

		-
			message: "#^Method winwin\\\\db\\\\tools\\\\schema\\\\SchemaEventSubscriber\\:\\:getIndexDeclarationSQL\\(\\) has parameter \\$platform with no typehint specified\\.$#"
			count: 1
			path: src/schema/SchemaEventSubscriber.php

